<!DOCTYPE html>
<html>
<head>
	<title>User Console</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
                    <% include ../partials/user-menu %>
				</div>
				<div class="column">
					<article class="message is-primary">
						<div class="message-header">
							Welcome to the G4M3R <strong>user console</strong>!
						</div>
						<div class="message-body">
							From here, you can configure your user specific settings!
						</div>
					</article>
					<section class="hero is-light is-bold" style="border-radius: 3px;">
						<div class="hero-body">
							<div class="container has-text-centered">
								<p>Currently, nothing is set to show on the dashboard.  If you have suggestions as for what information would be nice to see here, chat with us in the G4M3R Discord support server!</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
