<!DOCTYPE html>
<html>
<head>
	<title>User Console</title>
    <% include ../partials/head %>
</head>
<body>
	<% include ../partials/dashboard-header %>

	<section class="section is-white">
		<div class="container">
			<div class="columns">
				<div id="menu" class="column is-one-quarter">
					<% include ../partials/user-menu %>
				</div>
				<div class="column">
					<h1 class="title">
						Locale Settings
					</h1>
					<div class="container">
						<article class="message is-primary">
							<div class="message-body">
								<div class="content">
									<strong>G4M3R</strong> can adjust commands to reflect your locale.
									Keep in mind, if you're profile is set to public other users will be able to view this information.
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</section>

	<% include ../partials/footer %>
	<% include ../partials/scroll-top-button %>
</body>
</html>
