	<div class="columns">
		<div class="column is-12">
			<table class="table">
				<thead>
				<tr>
					<th><abbr title="Event ID">ID</abbr></th>
					<th>Title</th>
					<th><abbr title="Author">by</abbr></th>
					<th><abbr title="Attendees">Slots</abbr></th>
					<th>Starts</th>
					<th>Ends</th>
					<th>Tags</th>
					<th>Join</th>
					<th>Info</th>
				</tr>
				</thead>
				<tfoot>
				<tr>
					<th><abbr title="Event ID">ID</abbr></th>
					<th>Title</th>
					<th><abbr title="Author">by</abbr></th>
					<th><abbr title="Attendees">Slots</abbr></th>
					<th>Starts</th>
					<th>Ends</th>
					<th>Tags</th>
					<th>Join</th>
					<th>Info</th>
				</tr>
				</tfoot>
				<tbody>
				<tr>
					<th>1</th>
					<td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Leicester City</a> <strong>(C)</strong>
					</td>
					<td>38</td>
					<td>23</td>
					<td>12</td>
					<td>3</td>
					<td>68</td>
					<td>
						<a class="button is-small is-primary is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-sign-in"></i>
                            </span>
						</a>
					</td>
					<td>
						<a class="button is-small is-info is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-info"></i>
                            </span>
						</a>
					</td>
				</tr>
				<tr>
					<th>2</th>
					<td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Arsenal</a></td>
					<td>38</td>
					<td>20</td>
					<td>11</td>
					<td>7</td>
					<td>65</td>
					<td>
						<a class="button is-small is-primary is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-sign-in"></i>
                            </span>
						</a>
					</td>
					<td>
						<a class="button is-small is-info is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-info"></i>
                            </span>
						</a>
					</td>
				</tr>
				<tr>
					<th>3</th>
					<td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Tottenham Hotspur</a></td>
					<td>38</td>
					<td>19</td>
					<td>13</td>
					<td>6</td>
					<td>69</td>
					<td>
						<a class="button is-small is-primary is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-sign-in"></i>
                            </span>
						</a>
					</td>
					<td>
						<a class="button is-small is-info is-hovered" href="/events/my">
                            <span class="icon is-small">
                                <i class="fa fa-info"></i>
                            </span>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>


