<div class="tile is-ancestor">
	<div class="tile is-vertical is-12">
		<div class="tile is-10 is-offset-2">
			<div class="tile is-parent is-vertical is-5 is-offset-2">
				<form class="tile is-child notification is-primary">
					<p class="control">
						<label class="label" style="color:white;">TITLE</label>
						<input id="event-title" class="input" type="text" maxlength="50" placeholder="Enter event title.." onkeypress="return event.keyCode != 13;">
						<code>(max. 50 chars)</code>
					</p>
					<div class="field">
						<label class="label" style="color:white;">DESCRIPTION</label>
						<p class="control">
							<textarea id="event-desc" class="textarea" maxlength="200" placeholder="Enter description here.."></textarea>
							<code>(max. 200 chars)</code>
						</p>
					</div>
				</form>
			</div>
			<div class="tile is-parent is-3">
				<form class="tile is-child notification is-light">
					<br>
					<label class="label">START DATE</label>
					<div class="control has-addons">
						<p class="control has-addons">
							<input id="event-start" class="input" type="text" maxlength="15" placeholder="select start date" onkeypress="return event.keyCode != 13;">
						</p>
						<p class="control">
							<a id="event-calendar" class="button" href="#">
								<span class="icon is-small">
							      <i class="fa fa-calendar"></i>
							    </span>
							</a>
						</p>
					</div>
					<label class="label">END DATE</label>
					<div class="control has-addons">
						<p class="control has-addons">
							<input id="event-end" class="input" type="text" maxlength="15" placeholder="select end date" onkeypress="return event.keyCode != 13;">
						</p>
						<p class="control">
							<a id="event-calendar" class="button" href="#">
								<span class="icon is-small">
							      <i class="fa fa-calendar"></i>
							    </span>
							</a>
						</p>
					</div>
					<span> <code><strong>Use format:</strong> YYYY/MM/DD HH:mm</code></span>

				</form>
			</div>
		</div>
		<div class="tile is-2"
			<div class="tile is-parent">
			</div>
		</div>
	</div>
</div>

