<aside class="menu">
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/user") { %>
				<a class="is-active" href="#">Overview</a>
			<% } else { %>
				<a href="/dashboard/user?svrid=user">Overview</a>
			<% } %>
		</li>
	</ul>
	<p class="menu-label">
		User Settings
	</p>
	<ul class="menu-list">
		<li>
			<% if(currentPage=="/dashboard/profile") { %>
			<a class="is-active" href="#">Profile</a>
			<% } else { %>
			<a href="/dashboard/profile?svrid=user">Profile</a>
			<% } %>
		</li>
		<li>
			<% if(currentPage=="/dashboard/locale") { %>
			<a class="is-active" href="#">Localization</a>
			<% } else { %>
			<a href="/dashboard/locale?svrid=user">Localization</a>
			<% } %>
		</li>
		<li>
            <% if(currentPage=="/dashboard/notifications") { %>
			<a class="is-active" href="#">Event Notifications</a>
            <% } else { %>
			<a href="/dashboard/notifications?svrid=user">Event Notifications</a>
            <% } %>
		</li>
	</ul>
</aside>
