{
    "platform": "discord",
    "shard_count": 1,
    "hosting_url": "http://localhost:8080/",
    "server_port": 8080,
    "httpPort": 8080,
    "httpsPort": 8443,
    "cert": "",
    "privKey": "",
    "httpsRedirect": false,
    "server_ip": "127.0.0.1",
    "db_url": "mongodb://localhost:27017/g4m3r",
    "serve_static": true,
    "maintainers": [],
    "wiki_contributors": [],
    "global_blocklist": [],
    "game": "some text",
    "status": "online",
    "max_voice_channels": 2,
    "header_image": "header-bg.jpg",
    "homepage_message_html": "",
    "pm_forward": false,
    "version": "0.1",
    "oauth_link": "",
    "discord_link": "",
    "donate_charities": [{
					    "name": "Paypal",
					    "donate_url": "https://www.paypal.me/",
					    "icon_url": "http://www.exconcept.de/uploads/pics/paypal.jpg"
                        }],
    "moment_date_format": "dddd MMM Do[,] YYYY [at] HH:mm [(]z[)]",
    "moment_timezone": "Europe/Berlin",
    "colors": {
        "orange": "0xff8c00",
        "yellow": "0xecf925",
        "blue": "0x5ed7f7",
        "green": "0x17f926"
    },
    "vote_triggers": [
        " +!",
        " +1",
        " up",
        " ^",
        " thx",
        " ty",
        " thanks",
        " thank you",
        " god bless"
    ],
    "yes_strings": [
        "k",
        "y",
        "yy",
        "ye",
        "ok",
        "kk",
        "yes",
        "yea",
        "yee",
        "yeah",
        "okay",
        "fine",
        "sure"
    ]
}
